input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header-background {
  background-image: url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 960px;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 100%;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu-list li a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 96px;
}

.header-contacts a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 96px;
}

.header-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-intro h1 {
  margin: 0;
  padding: 0;
  width: 965px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  margin-top: 235px;
}

.header-intro p {
  margin: 0;
  padding: 0;
  width: 865px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 96px;
}

.header-intro a {
  width: 252px;
  height: 50px;
  border-radius: 4px;
  background-color: #f39d77;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-intro span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 22px;
}

.features-item {
  text-align: center;
}

.features-item img {
  padding-bottom: 37px;
}

.features-item h2 {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.features-item p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.main {
  padding-top: 83px;
  padding-bottom: 98px;
  background-color: #f3f1ed;
}

.features {
  padding-bottom: 119px;
}

.apartment {
  padding-bottom: 30px;
}

.apartment-description {
  background-color: #ffffff;
  max-width: 635px;
  max-height: 586px;
}

.apartment-description h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding: 0;
  padding-top: 41px;
  padding-left: 35px;
  padding-right: 42px;
  padding-bottom: 10px;
}

.apartment-description p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 35px;
  padding-right: 42px;
}

.apartment-description p b {
  font-weight: 700;
}

.apartment-description p:nth-of-type(2) {
  padding-top: 20px;
  padding-bottom: 87px;
}

.apartment-description a {
  width: 252px;
  height: 50px;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
  margin-right: 42px;
}

.apartment-image {
  max-width: 635px;
  max-height: 586px;
}

.apartment-image img {
  width: 100%;
}

.background-white {
  background-color: #ffffff;
}

.apartments .apartment-image img {
  width: 100%;
}

.apartments .apartment-description h2 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  padding-top: 28px;
  padding-left: 27px;
  padding-right: 31px;
}

.apartments .apartment-description p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  padding-left: 27px;
  padding-right: 31px;
}

.apartments .apartment-description p b {
  font-weight: 700;
}

.apartments .apartment-description p:nth-of-type(2) {
  padding-bottom: 56px;
}

.how-we-are-working {
  padding: 86px 0 90px 0;
}

.how-we-are-working h2 {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 93px;
}

.how-we-are-working .how-we-are-working-item {
  text-align: center;
}

.how-we-are-working .how-we-are-working-item img {
  padding-bottom: 26px;
}

.how-we-are-working .how-we-are-working-item p {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.calculate-the-cost-background {
  background-image: url("../img/calculate-the-cost-image.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 600px;
  padding: 100px 0 99px 0;
}

.calculate-the-cost-form-wrapper {
  max-width: 636px;
  max-height: 401px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 58px 81px 83px 81px;
}

.calculate-the-cost-form-wrapper h3 {
  width: 385px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 44px;
}

.calculate-the-cost-form-wrapper form .contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.calculate-the-cost-form-wrapper form .contacts-wrapper input {
  width: 222px;
  color: #a0a0a0;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.calculate-the-cost-form-wrapper form button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  width: 252px;
  height: 50px;
  border-radius: 4px;
  background-color: #f49e9c;
  border: none;
  display: block;
  margin: 0 auto;
}

.about-us {
  background-color: #f3f1ed;
  padding-top: 115px;
  padding-bottom: 100px;
}

.about-us-text {
  width: 635px;
}

.text-items {
  background-color: #ffffff;
  padding: 48px 45px 66px 52px;
  height: 794px;
}

.text-items h2 {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
}

.text-items h3 {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding: 20px 0;
}

.text-items p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.text-items a {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  display: block;
  padding-top: 33px;
}

.about-us-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us-contacts img {
  width: 100%;
}

.about-us-contacts iframe {
  width: 100%;
}

.about-us-contacts address {
  width: 100%;
  height: 240px;
  background-color: #f39d77;
  margin: 0;
  padding: 66px 53px 68px 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us-contacts address .contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-contacts address .contacts-item img {
  width: 40px;
  height: 40px;
  margin-right: 18px;
}

.about-us-contacts address .contacts-item p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.footer .footer-item {
  padding-top: 76px;
  padding-bottom: 74px;
}

.footer .footer-item h2 {
  width: 935px;
  color: #000000;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 82px;
}

.footer .footer-item a {
  height: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  width: 252px;
  height: 50px;
  border-radius: 4px;
  background-color: #f49e9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0;
}

.devider {
  width: 100%;
  height: 1px;
  background-color: #d2d2d2;
  display: block;
}

.copyright p {
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 67px 0 68px 0;
}

.header-works {
  background-color: #716f6e;
}

.our-works {
  padding: 85px 0 76px 0;
}

.our-works h2 {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 85px;
}

.our-works .our-works-item {
  overflow: hidden;
  height: 414px;
  margin-bottom: 30px;
}

.our-works .our-works-item img {
  width: 100%;
  height: 414px;
}

.our-works .our-works-item .our-works-item-link {
  text-decoration: none;
}

.our-works .our-works-item .our-works-item-link:hover .our-works-item-text,
.our-works .our-works-item .our-works-item-link:focus .our-works-item-text {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.our-works .our-works-item .our-works-item-link .our-works-item-text {
  background-color: rgba(0, 0, 0, 0.5);
  height: 120px;
  padding: 19px 18px 21px 18px;
}

.our-works .our-works-item .our-works-item-link .our-works-item-text h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.our-works .our-works-item .our-works-item-link .our-works-item-text p {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.our-works .our-works-item .our-works-item-link .our-works-item-text p b {
  font-weight: 700;
}

.work h2 {
  margin: 0;
  padding-bottom: 53px;
}

.work h3 {
  margin: 0;
  padding-bottom: 10px;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.work p {
  margin: 0;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.work p b {
  font-weight: 700;
}

.work p:nth-of-type(2) {
  padding-bottom: 66px;
}
/*# sourceMappingURL=styles.css.map */