body {
  font-family: "Montserrat", sans-serif;
}

.header-background {
  background-image: url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 960px;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 100%;
}

.header-menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    a {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 96px;
    }
  }
}

.header-contacts {
  a {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 96px;
  }
}

.header-intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
    padding: 0;
    width: 965px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin-top: 235px;
  }

  p {
    margin: 0;
    padding: 0;
    width: 865px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 96px;
  }

  a {
    width: 252px;
    height: 50px;
    border-radius: 4px;
    background-color: #f39d77;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-top: 22px;
  }
}

.features-item {
  text-align: center;


  img {
    padding-bottom: 37px;
  }

  h2 {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

.main {
  padding-top: 83px;
  padding-bottom: 98px;
  background-color: #f3f1ed;
}

.features {
  padding-bottom: 119px;
}

.apartment {
  padding-bottom: 30px;
}

.apartment-description {
  background-color: #ffffff;
  max-width: 635px;
  max-height: 586px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-left: 35px;
    padding-right: 42px;
    padding-bottom: 10px;
  }

  p {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    padding-right: 42px;

    b {
      font-weight: 700;
    }

    &:nth-of-type(2) {
      padding-top: 20px;
      padding-bottom: 87px;
    }
  }

  a {
    width: 252px;
    height: 50px;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-right: 42px;
  }
}

.apartment-image {
  max-width: 635px;
  max-height: 586px;

  img {
    width: 100%;
  }
}

.background-white {
  background-color: #ffffff;
}

.apartments {
  .apartment-image {
    img {
      width: 100%;
    }
  }

  .apartment-description {
    h2 {
      color: #000000;
      font-size: 24px;
      font-weight: 700;
      padding-top: 28px;
      padding-left: 27px;
      padding-right: 31px;
    }

    p {
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      padding-left: 27px;
      padding-right: 31px;

      b {
        font-weight: 700;
      }

      &:nth-of-type(2) {
        padding-bottom: 56px;
      }
    }
  }
}

.how-we-are-working {
  padding: 86px 0 90px 0;

  h2 {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 93px;
  }

  .how-we-are-working-item {
    text-align: center;

    img {
      padding-bottom: 26px;
    }

    p {
      color: #000000;
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
  }
}
